/*ELEMENTER:*/

body {
    background-color: #F4E1B6;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    /*    rows defineres i vh da % er relativt i forhold til sidens længde*/
    grid-template-rows: 20vh 15vh 60vh 1fr 10vh;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #661D14;
}


h1 {

    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #661D14;
    text-shadow: 3px 5px 5px #847D6A;
    font-size: 3rem;
}

h2 {

    text-align: center;
    font-family: "Comic Sans MS";
    color: #847D6A;
}


nav {
    text-align: center;
}

button {
    color: #661D14;
    background-color: #847D6A;
    margin-right: 20px;
    margin-bottom: 20px;
}

section {
    display: grid;
    grid-gap: 10px;
    border: 2px solid #ccc;
}

section p {
    font-family: "Comic Sans MS";
    margin-left: 40px;
    margin-right: 40px;
}


img {
    width: 200px;
    height: auto;
}

img.modal-billede {
    border: 5px solid #565320;
}

article {
    clear: both;
    border: 5px solid #565320;
    background-color: #847D6A;
}

article h2 {
    font-size: 1.2rem;
    color: black;
}

article .ret-genre {
    text-align: center;
}

article .ret-pris {
    text-align: center;
}

article img {
    margin-left: 80px;
    margin-right: 80px;
    border: 5px solid #565320;
}

footer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #661D14;
    color: #847D6A;
}

/*Classer:*/


.menu-container {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 20px;
    margin-bottom: 20px;
}


.headline {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.headline img {

    max-width: 100%;
    height: 100px;


}

.headline h1 {
    display: inline-block;


}

.splash {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;


}

.splash img {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
    transform: scale(2.3);
    margin: auto;
    margin-top: 130px;
    border: 3px solid #565320;

}
}

.modal-billede {
    border: 5px solid #565320;
}


/*ID'er - MODAL VIEW.*/

#modal {

    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #F4E1B6;
    text-align: center;

    /*display: none;*/
    /*opacity bruges her i stedet for display da vi ønsker en fade effect på vores visning af billeder*/
    opacity: 0;

    /*SKAL sættes til NONE for at kunne vise billedet der er valgt.            */
    pointer-events: none;

    transition: all 1s;
}

#modal-content {

    width: 70vw;
    height: 70vh;
    margin-top: 120px;
    display: inline-block;
    background-color: #847D6A;
    border: 5px solid #565320;
}

#modal.vis {
    opacity: 1;
    pointer-events: all;
    border: 5px solid #565320;

}


}

#modal h2 {
    color: black;
}


/*MEDIA QUERIES*/

/* siden gøres repsonsiv via @mediaqueries sat på main*/

@media screen and (min-width: 480px) {

    section {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (min-width: 900px) {

    section {
        grid-template-columns: repeat(3, 1fr);
    }
}
